// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$white: #FFFFFF;
$blue: #1599BE;
$black-70: #464646;
$black-23: #101217;
$black: #494949;
