.btn {
    padding: 0;
}

.btn-info {
    font-weight: bold;
    font-size: 1.125rem;
    color: $white;
    background: $blue;
    border-radius: .25rem;
    border: none;
    padding: .875rem;
    text-decoration: none;
    box-shadow: 0px 8.86792px 3.54717px rgba(65, 65, 65, 0.1);
}

.btn-link {
    font-weight: 400;
    font-size: .75rem;
    color: $blue;
    border: none;
    background-color: transparent;
    text-decoration: underline;
}

.btn-block {
    display: block;
    width: 100%;
}
